<div class="hero min-h-screen bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag "top.png"%>
    <div>
      <h1 class="text-5xl font-bold"><%= 'My Coffee Diary' %></h1>
      <p class="py-6"><%= 'æ¯Žæ—¥ã®ç”Ÿæ´»ã‚’å½©ã‚‹æ¼†é»’ã®æ¶²ä½“ã€ã‚³ãƒ¼ãƒ’ãƒ¼' %></p>
      <p class="py-6"><%= 'é£²ã‚“ã ã‚³ãƒ¼ãƒ’ãƒ¼ã¨ä»Šæ—¥ã¨ã„ã†æ—¥ã®æ€ã„å‡ºã‚’æŒ¯ã‚Šè¿”ã£ã¦ã¿ã¾ã—ã‚‡ã†' %></p>
      <button class="btn btn-primary">
        <% if logged_in? %>
            <%= link_to 'ã¯ã˜ã‚ã¦ã¿ã‚‹', posts_path  %>
        <% else %>
            <%= link_to 'ã¯ã˜ã‚ã¦ã¿ã‚‹', login_path  %>
        <% end %>
      </button>
    </div>
  </div>
</div>
  <div class="container mx-auto">
    <p class="text-center font-bold text-3xl mb-12 mt-6"><%= "ã‚¢ãƒ—ãƒªã®ä½¿ã„æ–¹â˜•ï¸" %></p>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <p class="text-center font-bold text-lg mb-6"><%= "ã‚³ãƒ¼ãƒ’ãƒ¼ã®è¨˜éŒ²âœï¸" %></p>
        <p class="text-center"><%= "ä»Šæ—¥é£²ã‚“ã ã‚³ãƒ¼ãƒ’ãƒ¼ã‚’è¨˜éŒ²ã§ãã¾ã™" %></p>
        <p class="text-center"><%= "ä¸€æžšãƒ‘ã‚·ãƒ£ãƒªã¨å†™çœŸã‚’æ’®ã£ã¦ã•ã£ã¨ãƒ¡ãƒ¢" %></p>
        <p class="text-center"><%= "é£²ã‚“ã æ™‚é–“å¸¯ã¨æ¸©åº¦ã¯ç›´æ„Ÿçš„ã«å…¥åŠ›å¯èƒ½ã§ã™" %></p>
            <%= image_tag "top_new.png"%>
      </div>
      <div class="p-4 lg:w-1/2">
        <p class="text-center font-bold text-lg mb-6"><%= "è¨˜éŒ²ã®æŒ¯ã‚Šè¿”ã‚ŠðŸ—’ï¸" %></p>
        <p class="text-center"><%= "éŽåŽ»ã«é£²ã‚“ã ã‚³ãƒ¼ãƒ’ãƒ¼ã‚’æŒ¯ã‚Šè¿”ã‚‹ã“ã¨ãŒã§ãã¾ã™" %></p>
        <p class="text-center"><%= "è‡ªåˆ†ã§å…¥ã‚ŒãŸã‚³ãƒ¼ãƒ’ãƒ¼ãªã‚‰è±†ã®æŒ½ãæ–¹" %></p>
        <p class="text-center"><%= "ç¾Žå‘³ã—ã„ãŠåº—ã®ã‚³ãƒ¼ãƒ’ãƒ¼ã‚’æ€ã„å‡ºã™ã®ã«ä¾¿åˆ©ã§ã™" %></p>
            <%= image_tag "top_mypage.png"%>
       </div>
    </div>
  </div>