<div class="hero min-h-screen bg-base-100">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag "top.png"%>
    <div>
      <h1 class="text-5xl font-bold"><%= 'My Coffee Time' %></h1>
      <p class="py-6"><%= '毎日の生活を彩る漆黒の液体、コーヒー' %></p>
      <p class="py-6"><%= '飲んだコーヒーと今日という日の思い出を振り返ってみましょう' %></p>
      <button class="btn btn-primary">
        <%= link_to 'はじめてみる', "#"  %>
      </button>
    </div>
  </div>
</div>