<header>
    <div class='navbar bg-base-200'>
        <div class="flex-1">
            <div class ='btn btn-ghost text-xl'>
                <%= link_to 'My Cofee Time', root_path  %>
            </div>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1 text-xs md:text-base ml-auto">
                <li>
                     <%= link_to 'Timeline', posts_path  %>
                </li>
                <li>
                    <details>
                        <summary>
                            <%= "My Cofee Page" %>
                        </summary>
                            <ul class="p-3 bg-base-100 rounded-t-none">
                                <li><%= link_to current_user.name +  "'s Log", '#'  %></li>
                                <li><%= link_to 'Logout', logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしてもよろしいですか？" }   %></li>
                            </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
</header>