<% content_for(:title, t('.title')) %>
<div class='container'>
    <div class= 'md:w-1/2 mx-auto'>
        <div class='text-center mt-6'><%= @post.user.name %></div>
        <div class='text-center mt-6'>
            <h1 class = "text-2xl font-semibold mb-6"><%= @post.title %></h1>
        </div>
        <%= image_tag @post.post_image_url,  class: 'object-contain w-72 h-72 mx-auto mb-6' %>
    <p class= 'mb-6 w-full mx-auto bg-base-200 p-10 rounded-lg'><%= @post.body%></p>
            <div class='flex flex-center mb-6'>
                <div class = "mr-6"><%= @post.decorate.drink_type_show %></div>
                <div class = "mr-6"><%= @post.decorate.drink_time_show %></div>
                <div class="twitter ml-auto">
                    <%= link_to "https://twitter.com/share?url=#{CGI.escape(root_url)}&text=今日もコーヒーを楽しみました！ナイスコーヒー！&hashtags=MyCoffeeDiary", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
                    <div class = 'btn btn-sm'>Xでシェア</div>
                        <% end %>
                </div>
            </div>
            <div class="card-actions justify-end mb-6">
                    <%= l @post.created_at %>
            </div>
    <div class='text-center mb-6'>
        <% if logged_in? %>
            <% if current_user.own?(@post)%>
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %>
                <%= link_to '削除', post_path(@post), data: {turbo_method: :delete, turbo_confirm: "投稿を削除しますか？"}, class: "btn btn-secondary" %>
            <% end %>
        <% end %>
    </div>
    <div class='text-center mb-6'>
        <%= link_to "投稿一覧ページへ", posts_path %>
    </div>
    </div>
</div>